<component name="libraryTable">
  <library name="spring5">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-aop-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-beans-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-context-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-core-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-expression-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-jdbc-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-orm-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-tx-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring-web-5.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/commons-pool-1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/commons-dbcp-1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/commons-collections.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/aspectjweaver.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/aspectjrt.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/commons-logging-1.0.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>